html {
  /*background-color: #e5c851;*/
  background-image: url('sunny-yellow-blur.png');
  height: 100%;
}

body *{
  font-family: 'Abel', sans-serif;
  height: 100%;
}

/**************************
      INPUT SECTION
**************************/

.input-section {
  text-align: center;
  position: relative;
}

.location {
  text-align: center;
  border: none;
  border-bottom: 2px black solid;
  width: 163px;
  padding: 6px;
  background-color: transparent;
}

/**************************
      CURRENT WEATHER
**************************/

.valid-city,
.today-current, .ten-day-section, .hourly-forecast {
  margin: 12px auto;
  max-width: 90%;
}

.today-current{
  border-bottom: 1px grey solid;
  padding-bottom: 15px;
}

.submit{
  height: 28px;
  position: absolute;
  top: 62px;
  padding: 0 13px;
}

.current-location {
  margin-bottom: auto;
}

.current-temp {
  font-size: 55px;
}

.current-icon {
  height: 35px;
}

.current-hi-low {
  font-size: 20px;
}

.current-description {
  margin-top: inherit;
  font-size: 15px;
}


/**************************
    HOURLY/TEN DAY WEATHER
**************************/

.ten-day-forecast, .hourly-forecast {
  justify-content: space-between;
  border-bottom: 1px grey solid;
}

.hourly-forecast {
  overflow: auto;
  white-space: nowrap;
}

.ten-day-forecast {
  display: flex;
  flex-wrap: wrap;
}

.hourly, .ten-day{
  min-width: 90px;
}

.hourly {
  display: inline-block;
}

.hourly-title, .ten-day-title {
  font-size: 23px;
  padding-bottom: auto;
}

.current-hi, .current-low {
  display: inline-block;
}

.current-hi {
  font-size: 20px;
}

.current-low {
  font-size: 15px;
}
