html {
  background-image: url('./images/background.png');
  height: 115%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body *{
  font-family: 'Abel', sans-serif;
  height: 100%;
  color: white;
}

.wrapper {
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
}

/**************************
      INPUT SECTION
**************************/

.input-section {
  background-color: rgba(0, 0, 0, .3);
  padding-top: 14px;
}

.form {
  position: relative;
  margin: 21.44px
}

.logo {
  color: orange;
  padding-top: 6px;
}

.location::-webkit-input-placeholder {
  color: lightgray;
  text-shadow: 1px 1px gray;
}

.location {
  text-align: center;
  border: none;
  border-bottom: 2px orange solid;
  width: 163px;
  padding: 6px;
  background-color: transparent;
}

.submit{
  height: 28px;
  position: absolute;
  top: 2px;
  padding: 0 13px;
}

/**************************
      CURRENT WEATHER
**************************/

.valid-city,
.today-current,
.ten-day-section {
  margin: 12px auto;
}

.today-current {
  border-bottom: 1px grey solid;
  padding-bottom: 15px;
}

.current-location {
  margin-bottom: auto;
  display: inline-block;
}

.current-temp {
  font-size: 55px;
}

.current-icon {
  display: inline-block;
  height: 35px;
  padding-top: 10px;
  padding-left: 25px;
}

.current-location-icon {
  display: flex;
  justify-content: center;
}

.current-description {
  margin-top: inherit;
  font-size: 15px;
}

.current-hi,
.current-low {
  display: inline-block;
}

.current-hi {
  font-size: 20px;
}

.current-low {
  font-size: 15px;
}

/***********************************
      HOURLY / TEN DAY WEATHER
***********************************/

.hourly-forecast,
.ten-day-forecast{
  white-space: nowrap;
  overflow: auto;
  justify-content: space-between;
}

.hourly-title,
.ten-day-title {
  font-size: 23px;
  margin-bottom: 15px;
}

/********* hourly section ************/

.hourly-section {
  border-bottom: 1px grey solid;
  margin: 0px 10px;
}

.hourly-forecast::-webkit-scrollbar {
  display: none;
}

.hourly {
  min-width: 90px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}

.hourly-title {
  flex: 100%;
}

.dot-icon {
  flex: 100%;
  height: 30px;
}

/********* ten day section ************/

.ten-day-section {
  margin: 0px 10px;
}

.ten-day-forecast {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px grey solid;
  font-size: 20px;
  margin-bottom: 5px;
}


/**************************
    MEDIA QUERY
**************************/

@media (min-width: 700px){

  .input-section {
    display: flex;
    justify-content: space-around;
  }

  .current-temp{
    font-size: 90px;
  }

  .dot-icon {
    display: none;
  }

  .location{
    font-size: 21px;
  }

  .hourly-section,
  .ten-day-section {
    display: inline-block;
    width: 45%;
    border-bottom: none;
    padding-left: 2%;
  }

  .hourly-section {
    float: left;
    flex-wrap: nowrap;
  }

  .ten-day-section {
    border-left: 1px grey solid;
  }

  .hourly {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px grey solid;
  }

  .current-description,
  .current-low {
    font-size: 20px;
  }

  .current-location,
  .current-hi {
    font-size: 25px;
  }

  .current-icon {
    height: 46px;
  }
}
